<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Ranking</servlet-name>
        <servlet-class>tesis.servlets.Ranking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDatos</servlet-name>
        <servlet-class>tesis.servlets.GetDatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>tesis.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRetos</servlet-name>
        <servlet-class>tesis.servlets.GetRetos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarPuntaje</servlet-name>
        <servlet-class>tesis.servlets.ActualizarPuntaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validar</servlet-name>
        <servlet-class>tesis.servlets.Validar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrar</servlet-name>
        <servlet-class>tesis.servlets.Registrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarNivel</servlet-name>
        <servlet-class>tesis.servlets.ValidarNivel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Progreso</servlet-name>
        <servlet-class>tesis.servlets.Progreso</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ranking</servlet-name>
        <url-pattern>/ranking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDatos</servlet-name>
        <url-pattern>/getDatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRetos</servlet-name>
        <url-pattern>/GetRetos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarPuntaje</servlet-name>
        <url-pattern>/ActualizarPuntaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validar</servlet-name>
        <url-pattern>/Validar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrar</servlet-name>
        <url-pattern>/Registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarNivel</servlet-name>
        <url-pattern>/ValidarNivel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Progreso</servlet-name>
        <url-pattern>/Progreso</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
